@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="container text-center mt-5">
        <h2>Welcome to Loan App Bank</h2>

    </div>
    <div class="container text-center mt-15">
        <h2>Select Opration From Menu</h2>

    </div>

</main>