@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="container text-center mt-5">
        <h2>Welcome to Loan App Bank</h2>
        <h3>Please select an option below</h3>
        <ul class="list-group mt-4">
            <li class="list-group-item"><a style="text-decoration: none; color: #000000 " href="/Home/LoanType">Loan Type</a></li>
            <li class="list-group-item"><a  style="text-decoration: none; color: #000000 " href="/Home/LoanDoclist">Loan Document List</a></li>
            <li class="list-group-item"><a style="text-decoration: none; color: #000000 " href="/Home/linkDocToLoan">Link Document to Loan</a></li>
            <li class="list-group-item"><a style="text-decoration: none; color: #000000 " href="/Home/LoanApplication">Customer Loan Transaction</a></li>
            <li class="list-group-item"><a style="text-decoration: none; color: #000000 " href="/Home/LoanHistory">Customer Loan History</a></li>
            <li class="list-group-item"><a style="text-decoration: none; color: #000000 " href="/Home/LogOut">Log Out</a></li>
        </ul>
    </div>
    
</main>